<div class="detail-container">
    <img src="{{item.url}}" alt="{{item.name}}">
    <div class="detail-item">
        <h3>{{item.name}}</h3>
        <p>{{item.desc}}</p>
        <h3>${{item.price}}</h3>
        <select name="Itemquantity" id="quantity" #quantity calss="select-input">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <br>
        <br>
        <button (click)="onAdd(item,quantity.value)">Add to cart</button>
        <br>
        <br>
        <a routerLink="/" class="back-line">Back to products list</a>
    </div>
</div>